section.home { background: #dedede; background: url(../img/bkg.jpg);no-repeat center center fixed; -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;height: 100%; position: absolute; top: 0; left: 0; bottom: 0; right: 0; padding-top: 59px; }
.row {margin-bottom: 10px;}
.row.black { background: rgba(0,0,0,0.7);  }
.row.home .col-md-12 h1 { margin: 0; padding: 10px; text-align: center; color: #ffffff;  }